.login {
	min-height: 250px; 
	max-width: 500px;
}

.center-all{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.record {
	max-width: 500px;
}

.pass{
	max-width: 500px;
}

.pagination{
	margin-top: 0px;
}